<nav class="bg-red-thunderbird-700 font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between p-6 shadow sm:items-baseline w-full">
  <div class="mb-2 sm:mb-0 inner flex-col-1">
    <NuxtLink to="/pokemon" class="inline-block">
      <img src="~/assets/images/logo.png" width="120" alt="Pokemon" />
    </NuxtLink>
    <div class="flex justify-center relative">
      <!-- <button type="button" class="pr-0 hover:bg-gray-200 rounded-full relative ">
        <img src="~/assets/images/ring.png" alt="" class="p-2 w-11 h-auto">
      </button> -->
    </div>
  </div>
  <div class="sm:mb-0 self-center">
    <NuxtLink to="/pokemon" class="text-md font-bold no-underline text-white hover:text-yellow-400 ml-2 px-1">Pokemon List</NuxtLink>
    <NuxtLink to="mypokemon" class="text-md font-bold no-underline text-white hover:text-yellow-400 ml-2 px-1">My Pokemon</NuxtLink>
    <NuxtLink to="/" class="text-md font-bold no-underline text-white hover:text-yellow-400 ml-2 px-1">Logout</NuxtLink>
  </div>
</nav>
